<div fxLayout="column" fxFlex="100">
    <mat-form-field appearance="outline">
      <mat-label>Busca</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" fxFlex="100" class="full_table_list" matSort>
        <ng-container matColumnDef="siape">
          <th class="pointer" mat-header-cell *matHeaderCellDef mat-sort-header> SIAPE </th>
          <td class="pointer" mat-cell *matCellDef="let element" (click)="detalhesAssociado(element)"> {{element.matriculaAssociado}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nome">
          <th class="pointer" mat-header-cell *matHeaderCellDef mat-sort-header> NOME </th>
          <td class="pointer" mat-cell *matCellDef="let element" (click)="detalhesAssociado(element)"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <th class="pointer" mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
          <td class="pointer" mat-cell *matCellDef="let element" (click)="detalhesAssociado(element)"> {{element.docCPF}} </td>
        </ng-container>
      
        <ng-container matColumnDef="telefone">
          <th class="pointer" mat-header-cell *matHeaderCellDef mat-sort-header> TELEFONE </th>
          <td class="pointer" mat-cell *matCellDef="let element" (click)="detalhesAssociado(element)"> {{element.tel1}} </td>
        </ng-container>
      
        <ng-container matColumnDef="celular">
          <th class="pointer" mat-header-cell *matHeaderCellDef mat-sort-header> CELULAR </th>
          <td class="pointer" mat-cell *matCellDef="let element" (click)="detalhesAssociado(element)"> {{element.celular}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th class="pointer" mat-header-cell *matHeaderCellDef mat-sort-header> E-MAIL </th>
          <td class="pointer" mat-cell *matCellDef="let element" (click)="detalhesAssociado(element)"> {{element.eMail}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">Não resultado para "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
</div>