/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
    cursor: pointer;
}

/*css global tabela*/
.full_table_list{border-collapse: collapse;}
 
/*Definido cor das linhas pares*/
.full_table_list tr:nth-child(even) {background: #FFF}
 
/*Definindo cor das Linhas impáres*/
.full_table_list tr:nth-child(odd) {background: #EEE} 